# How to use

In [1]:
import sys
sys.path.append("..")

import pandas as pd

from generators import mock

In [2]:
df = pd.DataFrame([[1,"B",3], [2, "A", 0], [3, "C", 3]], columns=["col1", "col2", "col3"])

In [3]:
df

   col1 col2  col3
0     1    B     3
1     2    A     0
2     3    C     3

In [4]:
df_bis = mock.copycat(df=df, num_samples=10)

In [5]:
df_bis

   col1 col2  col3
2     3    C     3
2     3    C     3
2     3    C     3
1     2    A     0
1     2    A     0
0     1    B     3
2     3    C     3
2     3    C     3
2     3    C     3
0     1    B     3